[submodule "tools/nanopb"]
	path = tools/nanopb
	url = https://github.com/shiftdevices/nanopb.git
[submodule "external/cryptoauthlib"]
	path = external/cryptoauthlib
	url = https://github.com/shiftdevices/cryptoauthlib.git
[submodule "external/ctaes"]
	path = external/ctaes
	url = https://github.com/digitalbitbox/ctaes.git
[submodule "external/FatFs"]
	path = external/FatFs
	url = https://github.com/digitalbitbox/FatFs.git
