[submodule "external/cryptoauthlib"]
	path = external/cryptoauthlib
	url = https://github.com/digitalbitbox/cryptoauthlib.git
[submodule "external/ctaes"]
	path = external/ctaes
	url = https://github.com/digitalbitbox/ctaes.git
[submodule "external/libwally-core"]
	path = external/libwally-core
	url = https://github.com/digitalbitbox/libwally-core.git
[submodule "tools/ttf2ugui"]
	path = tools/ttf2ugui
	url = https://github.com/digitalbitbox/ttf2ugui
