[MASTER]
# hid is a c-extension, so we have to allow it to be loaded into python memory.
extension-pkg-whitelist=hid,pyserial

[BASIC]
# Shorter functions are excempt from docstring
docstring-min-length=10

[MESSAGES CONTROL]
# Black/pylint mismatch on code formatting
disable=bad-continuation, fixme, too-few-public-methods, duplicate-code, line-too-long, consider-using-f-string, too-many-locals, raise-missing-from, super-init-not-called, too-many-lines
good-names=i,j,tx

[TYPECHECK]
# Ignore protobuf generated modules for no-member checks
ignored-modules=bitbox02.communication.generated.btc_pb2,bitbox02.communication.generated.cardano_pb2,bitbox02.communication.generated.common_pb2,bitbox02.communication.generated.eth_pb2,bitbox02.communication.generated.hww_pb2
