# SPDX-License-Identifier: Apache-2.0

language = "C"

include_guard = "BITBOX02_RUST_H"

include_version = true

header = '''
#include "platform/platform_config.h"
#include "util.h"
#include <ui/components/confirm.h>

#if APP_ETH == 1
#define RUST_APP_ETHEREUM
#endif

'''

[parse]
# Parse dependencies for types ...
parse_deps = true

# ... but only parse these crates.
include = ["bitbox02-rust", "util", "bitbox-aes", "bitbox-framed-serial-link", "bitbox-bytequeue"]

# also generate bindings from these crates.
extra_bindings = ["bitbox02-rust", "util", "bitbox-aes", "bitbox-framed-serial-link", "bitbox-bytequeue"]

[export]
# malloc, free declared in bitbox02-rust-c/src/alloc.rs, but does not need to be exported, as it
# already exists in stdlib.h.
exclude = [
  "malloc",
  "free",
]

[defines]
"feature=app-ethereum" = "RUST_APP_ETHEREUM"
