# SPDX-License-Identifier: Apache-2.0

[package]
name = "bitbox02-rust"
version = "0.1.0"
authors = ["Shift Crypto AG <support@bitbox.swiss>"]
edition = "2024"
description = "BitBox02 functionality implemented in rust"
license = "Apache-2.0"

[lib]
# TODO: re-enable doctests. It currently fails with:
# "no global memory allocator found but one is required; link to std or add `#[global_allocator]` to a static item that implements the GlobalAlloc trait."
doctest = false

[dependencies]
bitbox02 = { path = "../bitbox02" }
bitbox-secp256k1 = { path = "../bitbox-secp256k1" }
util = { path = "../util" }
erc20_params = { path = "../erc20_params", optional = true }
bitbox-executor = { path = "../bitbox-executor" }
binascii = { version = "0.1.4", default-features = false, features = ["encode"] }
bitbox02-noise = {path = "../bitbox02-noise"}
streaming-silent-payments = { path = "../streaming-silent-payments", optional = true }
bitbox-aes = { path = "../bitbox-aes" }
hex = { workspace = true }
sha2 = { workspace = true }
sha3 = { workspace = true, optional = true }
keccak = { workspace = true, optional = true }
digest = { workspace = true }
zeroize = { workspace = true }
num-bigint = { workspace = true, optional = true }
num-traits = { version = "0.2", default-features = false }
# If you change this, also change src/rust/.cargo/config.toml.
bip32-ed25519 = { git = "https://github.com/BitBoxSwiss/rust-bip32-ed25519", tag = "v0.2.1", optional = true }
blake2 = { version = "0.10.6", default-features = false, optional = true }
minicbor = { version = "0.24.0", default-features = false, features = ["alloc"], optional = true }
crc = { workspace = true, optional = true }
ed25519-dalek = { version = "2.1.1", default-features = false, features = ["hazmat", "digest"], optional = true }
hmac = { workspace = true }
fatfs-sys = { path = "../fatfs-sys"}

miniscript = { version = "13.0.0", default-features = false, features = [], optional = true }
bitcoin = { workspace = true }
bip39 = { workspace = true }
# We don't rely on this dep directly, the miniscript/bitcoin deps do. We list it here to enable the
# small-hash feature to reduce the binary size, saving around 2784 bytes (as measured at time of
# writing, this might fluctuate over time).
bitcoin_hashes = { version = "0.14.0", default-features = false, features = ["small-hash"] }
futures-lite = { workspace = true }
hex_lit = { workspace = true, features = ["rust_v_1_46"] }

[dependencies.prost]
# keep version in sync with tools/prost-build/Cargo.toml.
version = "0.13.1"
default-features = false
features = ["derive"]

[features]
ed25519 = [
  "dep:bip32-ed25519",
  "dep:ed25519-dalek"
]

app-ethereum = [
  "dep:erc20_params",
  "dep:sha3",
  "dep:keccak",
  "dep:num-bigint",
  "bitbox02/app-ethereum",
]

app-bitcoin = [
  "dep:miniscript",
  "dep:streaming-silent-payments",
  "bitbox02/app-bitcoin",
]
app-litecoin = [
  "bitbox02/app-litecoin",
]

app-u2f = [
  "bitbox02/app-u2f",
]

app-cardano = [
  "dep:blake2",
  "dep:minicbor",
  "dep:crc",
  "ed25519"
]

testing = [
  "bitbox02/testing",
  "bitbox-secp256k1/testing",
  "util/testing"
]

c-unit-testing = []

simulator-graphical = []

firmware = []
