# Copyright 2020 Shift Cryptosecurity AG
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[package]
name = "bitbox02-rust"
version = "0.1.0"
authors = ["Shift Crypto AG <support@shiftcrypto.ch>"]
edition = "2018"
description = "BitBox02 functionality implemented in rust"
license = "Apache-2.0"

[lib]
# TODO: re-enable doctests. It currently fails with:
# "no global memory allocator found but one is required; link to std or add `#[global_allocator]` to a static item that implements the GlobalAlloc trait."
doctest = false

[dependencies]
bitbox02 = {path = "../bitbox02"}
util = {path = "../util"}
binascii = { version = "0.1.4", default-features = false, features = ["encode"] }
bitbox02-noise = {path = "../bitbox02-noise"}
hex = { version = "0.4", default-features = false, features = ["alloc"] }
sha2 = { version = "0.10.8", default-features = false }
sha3 = { version = "0.10.8", default-features = false, optional = true }
digest = "0.10.6"
zeroize = "1.6.0"
num-bigint = { version = "0.4.3", default-features = false, optional = true }
num-traits = { version = "0.2", default-features = false, optional = true }
bip32-ed25519 = { git = "https://github.com/digitalbitbox/rust-bip32-ed25519", tag = "v0.1.2", optional = true }
bech32 = { version = "0.10.0-beta", default-features = false, optional = true }
blake2 = { version = "0.10.6", default-features = false, optional = true }
minicbor = { version = "0.20.0", default-features = false, features = ["alloc"], optional = true }
crc = { version = "3.0.1", optional = true }
ed25519-dalek = { version = "2.0.0", default-features = false, features = ["hazmat"], optional = true }
lazy_static = { version = "1.4.0", optional = true }
async-recursion = "1.0.5"
hmac = { version = "0.12.1", default-features = false, features = ["reset"] }

miniscript = { version = "11.0.0", default-features = false, features = ["no-std"], optional = true }
bitcoin = { version = "0.31.0", default-features = false, features = ["no-std"], optional = true }
# We don't rely on this dep directly, the miniscript/bitcoin deps do. We list it here to enable the
# small-hash feature to reduce the binary size, saving around 2784 bytes (as measured at time of
# writing, this might fluctuate over time).
bitcoin_hashes = { version = "0.13.0", default-features = false, features = ["small-hash"] }

[dependencies.prost]
# keep version in sync with tools/prost-build/Cargo.toml.
version = "0.12.1"
default-features = false
features = ["prost-derive"]

[features]
ed25519 = [
  # enable these dependencies
  "bip32-ed25519",
  "ed25519-dalek"
]

app-ethereum = [
  # enable these dependencies
  "sha3",
  "num-bigint",
  "num-traits",
  # enable this feature in the deps
  "bitbox02/app-ethereum",
]

app-bitcoin = [
  # enable these dependencies
  "bech32",
  "miniscript",
  "bitcoin",
  # enable this feature in the deps
  "bitbox02/app-bitcoin",
]
app-litecoin = [
  # enable these dependencies
  "bech32",
  # enable this feature in the deps
  "bitbox02/app-litecoin",
]

app-u2f = [
  # enable this feature in the deps
  "bitbox02/app-u2f",
]

app-cardano = [
  # enable these deps
  "bech32",
  "blake2",
  "minicbor",
  "crc",

  # enable these features
  "ed25519"
]

app-bip85-bip39 = []

testing = [
  # enable these deps
  "lazy_static",

  # enable these features
  "bitbox02/testing"
]

c-unit-testing = []
