source [find interface/stlink.cfg]

transport select swd

reset_config srst_only connect_assert_srst
#reset_config none

source [find target/stm32u5x.cfg]

cortex_m reset_config sysresetreq

adapter speed 3300
