source [find interface/stlink.cfg]

transport select swd

reset_config srst_only connect_assert_srst
#reset_config none

source [find target/stm32u5x.cfg]

cortex_m reset_config sysresetreq

# set working area beyond the RTT buffers so they don't get clobbered
set _TARGETNAME [target current]
$_TARGETNAME configure -work-area-phys 0x20001200

adapter speed 3300
